@import "tailwindcss";

*{
    /* ya scroll  */
    scrollbar-width: none; /*firefox*/
    -ms-overflow-style: none;  /* IE/Edge purane version*/
}

::-webkit-scrollbar,
::-webkit-scrollbar{
    display: none; /* chrome, safari , opera*/
}